<div class="container_12">

  <div class="grid_8 push_2">
    <div class="feature_icon">
      <%= image_tag ("pub_profile_bubble.svg") %>
    </div>
    <p class="pg_title"> edit profile </p>
    <div class="rule"></div>

    <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
      <%= devise_error_messages! %>
      <div class="grid_3">
        <%= image_tag @user.image_url(:thumb).to_s %>
      </div>
      <p>
        Choose image to upload
        <%= f.file_field :image %>
      </p>
      <p>
        Or use an image online. Put url below.
        <%= f.text_field :remote_image_url %>
      </p>
      <div class="grid_5" style="margin-left:20px">
        <div>
          <%= f.label :first_name %><br />
          <%= f.text_field :first_name, :class => "form_field" %>
        </div>
        <div>
          <%= f.label :last_name %><br />
          <%= f.text_field :last_name, :class => "form_field" %>
        </div>
        <div>
          <%= f.label :email %><br />
          <%= f.email_field :email, :class => "form_field" %>
        </div>
      </div>
      <div class="grid_8">
        <div>
          <%= f.label :twitter_link, 'Link to Twitter'  %><br />
          <%= f.text_field :twitter_link, :class => "form_field", :placeholder => "Add link to your Twitter account" %>
        </div>
        <div>
          <%= f.label :github_link, 'Link to Github' %><br />
          <%= f.text_field :github_link, :class => "form_field", :placeholder => "Add link to your github" %>
        </div>
        <div>
          <%= f.label :dribbble_link, 'Link to Dribbble' %><br />
          <%= f.text_field :dribbble_link, :class => "form_field", :placeholder => "Add link to your Dribble" %>
        </div>
        <div>
          <%= f.label :bio %><br />
          <%= f.text_area :bio, :cols => "30", :rows => "10", :class => "bio_field" %>
        </div>
        <div>
          <%= f.label :background %><br />
          <%= f.text_area :background, :cols => "30", :rows => "10", :class => "bio_field" %>
        </div>
        <div>
          <%= f.label :skills %><br />
          <%= f.text_area :skill_list, :cols => "30", :rows => "10", :class => "form_field" %>
        </div>
        <div>
          <%= f.label :employment_history %><br />
          <%= f.text_area :employment_history, :cols => "30", :rows => "10", :class => "form_field" %>
        </div>
        <div>
          <%= f.label :entrepreneurship_goals %><br />
          <%= f.text_area :entrepreneurship_goals, :cols => "30", :rows => "10", :class => "bio_field" %>
        </div>
        <div>
          <%= f.label :role_interest %><br />
          <%= f.text_area :role_interest_list, :cols => "30", :rows => "10", :class => "form_field" %>
        </div>
        <div>
          <%= f.label :industry_interest %><br />
          <%= f.text_area :industry_interest_list, :cols => "30", :rows => "10", :class => "form_field" %>
        </div>
        <div>
          <%= f.label :countries %><br />
          <%= f.text_area :country_list, :cols => "30", :rows => "10", :class => "form_field" %>
        </div>
        <div>
          <%= f.label :undergrad %><br />
          <%= f.text_area :undergrad_list, :cols => "30", :rows => "10", :class => "form_field" %>
        </div>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
        <% end %>

        <div>
          <%= f.label :password %> <i>(Leave blank if you don't want to change it)</i><br />
          <%= f.password_field :password, :autocomplete => "off", :class => "form_field" %>
        </div>
        <div>
          <%= f.label :password_confirmation %><br />
          <%= f.password_field :password_confirmation, :class => "form_field" %>
        </div>
        <div>
          <%= f.label :current_password %> <i>(To confirm your changes)</i><br />
          <%= f.password_field :current_password, :class => "form_field" %>
        </div>
        <div class="submit_btn">
          <%= f.submit "update" %>
        </div>
        <div class="rule"></div>
      </div>
    <% end %>
    <div id="delete_btn" class="grid_5 push_3">
      <%= button_to "delete my account", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete %>
    </div>
  </div>
  <%#= link_to "Back", :back %>
</div