<div class="grid_12">
  <div class="feature_icon">
    <%= image_tag ("pub_profile_bubble.svg") %>
    <div class="pg_title" style="margin-top:10px">hey there</div>
  </div>

  <div class="rule"></div>

  <div class="grid_12">
    <img style="display:block; margin-left:auto; margin-right:auto;" src="<%= @user.image_url(:profile).to_s %>">
  </div>


  <div class="grid_8 profile_container">

    <h3>
      { <span class="username"><%= @user.first_name %> <%= @user.last_name %></span> }
    </h3>
    <p>
      <p class="form_title">Me in brief:</p>
      <%= @user.bio %>
      <p></p>
      <p class="form_title">Background:</p>
      <%= @user.background %>
      <p></p>
      <p class="form_title">Employment history:</p>
      <%= @user.employment_history %>
    </p>
    <p></p>
    <p>
      <% unless @user.twitter_link.nil? or @user.twitter_link.blank? %>
        <%= link_to image_tag("twitter.svg"), "http://www.twitter.com/#{@user.twitter_link}", target: "_blank" %>
      <% end %>
      <% unless @user.github_link.nil? or @user.github_link.blank? %>
        <%= link_to image_tag("github.svg"), "http://www.github.com/#{@user.github_link}", target: "_blank" %>
      <% end %>
      <% unless @user.dribbble_link.nil? or @user.dribbble_link.blank? %>
        <%= link_to image_tag("dribbble.svg"), "http://www.dribbble.com/#{@user.dribbble_link}", target: "_blank" %>
      <% end %>
    </p>
    <p>
      <p class="form_title">Role Interest:</p>
      <%= raw @user.role_interest_list.map { |t| link_to t, tag_path(t) }.join(', ') %>
    </p>
    <p></p>
    <p>
      <p class="form_title">Industry Interest:</p>
      <%= raw @user.industry_interest_list.map { |t| link_to t, tag_path(t) }.join(', ') %>
    </p>
    <p></p>
    <p>
      <p class="form_title">Skills:</p>
      <%= raw @user.skill_list.map { |t| link_to t, tag_path(t) }.join(', ') %>
    </p>
    <p></p>
    <p>
      <p class="form_title">Goals with respect to entrepreneurship while at HBS:</p>
      <%= @user.entrepreneurship_goals %>
    </p>
    <p></p>
    <p>
      <p class="form_title">Countries:</p>
      <%= raw @user.country_list.map { |t| link_to t, tag_path(t) }.join(', ') %>
    </p>
    <p></p>
    <p>
      <p class="form_title">Undergrad:</p>
      <%= raw @user.undergrad_list.map { |t| link_to t, tag_path(t) }.join(', ') %>
    </p>
    <p></p>
    <p>
      <p class="form_title">E-mail:</p>
      <%= @user.email %>
    </p>
    <p></p>

    <% if user_signed_in? && @user.id == current_user.id %>
      <%= link_to(edit_user_registration_path) do %>
        <div id="edit_profile_btn">Edit Profile</div>
      <% end %>
    <% elsif user_signed_in? %>
      <% if RolodexCard.where("user1_id = ? AND user2_id = ?", current_user.id, @user.id).to_a.empty?  %>
        <%= form_tag("/add_to_rolodex", :method => "post") do %>
          <%= hidden_field_tag(:user2, @user.id) %>
          <%= submit_tag("Add This Profile To My Rolodex", :id => 'add_rolodex_btn') %>
        <% end %>
      <% else %>
        <%= form_tag("/remove_from_rolodex", :method => "post") do %>
          <%= hidden_field_tag(:user1, current_user.id) %>
          <%= hidden_field_tag(:user2, @user.id) %>
          <%= submit_tag("Remove Profile From Rolodex", :id => 'remove_rolodex_btn') %>
        <% end %>
      <% end %>
    <% end %>
  </div>

  <div id="content_container" class="grid_4 right profile_container">
    <h3>
      <span class="grid_4" style="text-align:center;">{ Ideas }</span>
    </h3>
    <% if @ideas %>
      <% @ideas.each do |idea| %>
        <div class="grid_4 user_cards right">
          <div class="card">

            <div class="card_description hidden">
              <%= link_to idea.title, idea %>
              <p><%= idea.summary %></p>
            </div>
          </div>

          <div class="card_header">
            <span class="card_contributor"><a href="/users/<%= idea.user.id %>"><%= idea.user.first_name %><%= idea.user.last_name %></a></span>
            <span class="card_icons">
              <%= image_tag('eye_icon.svg')%> <%= idea.views %>
              <% if current_user %>
                <% if Favorite.exists?(:idea_id => idea.id, :user_id => current_user.id) %>
                  <%= image_tag('heart_icon.svg')%> <%= Favorite.where(:idea_id => idea.id).size %>
                <% else %>
                  <a href="<%= url_for :action => "update_likes", :controller => "ideas", :id => idea.id %>">
                    <%= image_tag('heart_icon.svg')%> <%= Favorite.where(:idea_id => idea.id).size %>
                  </a>
                <% end %>
              <% else %>
                <a href="<%= url_for :action => "update_likes", :controller => "ideas", :id => idea.id %>">
                  <%= image_tag('heart_icon.svg')%> <%= Favorite.where(:idea_id => idea.id).size %>
                </a>
              <% end %>
            </span>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>


  <div id="content_container" class="grid_9 profile_container">
    <% if user_signed_in? && @user.id == current_user.id %>
      <h3 style="margin-left: 240px; margin-bottom:50px;">
        { <span class="username">My Rolodex</span> }
      </h3>
      <% RolodexCard.where("user1_id = ?", current_user.id).to_a.each do |rolodexcard| %>

        <% user = User.find(rolodexcard.user2_id) %>
        <div class="grid_4 card_container">
          <div class="card">
            <div class="iframe_wrapper">
              <%= image_tag user.image_url(:thumb).to_s %>
            </div>
            <div class="user_bio">
              <%= user.bio %>
            </div>
            <div class="card_description hidden">
              <a class="card_link" href="<%= url_for :action => "update_views", :controller => "users", :id => user.id %>"></a>
              <span class="card_title">
                <a href="/users/<%= user.id %>"><%= user.first_name %> <%= user.last_name %></a></span>
              <p><%= user.background %></p>
              <p>Skills:</p>
              <p><%= user.skill_list %></p>
            </div>
          </div>

          <div class="card_header">
            <span class="card_contributor"><a href="/users/<%= user.id %>"><%= user.first_name %> <%= user.last_name %></a></span>
            <span class="card_icons">
              <%= image_tag('eye_icon.svg')%> <%= user.views %>
          </div>
        </div>

      <% end %>
    <% end %>
  </div>


</div>




<!--
Note that how the tiles look in this page (the profile page) should match exactly
how it looks on the home page (to be done)
-->

